.footer-box{
    border-top: 1px solid #e3e8f2;
    padding-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #74808d;

 
}
.logo-footer{
    font-size: 11px;

    img{
        width: 200px;
    }
}

ul{
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
    padding: 0px;
    margin: 0px;
}

a {
    color: #74808d;
    text-decoration: none;
}

.connect-footer{
    font-weight: 500;
    font-size: 17px;
}